.like-song-container {
  color: inherit;
}

div.main-section {
  height: 100%;
}

.like-song-btn {
  font-size: 1.2em;
  grid-column: 5;
  display: flex;
  justify-content: start;
  align-items: center;
  &.hidden {
    display: none;
  }
}

div svg.like-song-btn.liked {
  fill: $spotify-green;
}

.img {
  height: 100%;
  width: 12em;
  .img-container {
    height: 100%;
    width: 100%;
    img {
      border-radius: $spotify-border-radius;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &:hover {
    background-color: black;
    img {
      opacity: 0.2;
    }
  }
  .hover-container {
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    p {
      font-size: 1em;
    }
    svg {
      font-size: 3em;
    }
  }
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.4;
    z-index: 0;
  }
  .equalizer {
    height: 8em;
    width: 8em;
    gap: 4px;
    z-index: 100;
    .bar {
      width: 5px;
      background-color: $spotify-green;
    }
  }
}
