.like-song-container {
    color: $spotify-green;
}

div.main-section {
    height: 10em;
}

.like-song-btn {
    font-size: 1.2em;
    grid-column: 5;
    display: flex;
    justify-content: start;
    align-items: center;
    &.hidden {
      display: none;
    }
  }

div svg.like-song-btn.liked  {
    fill: $spotify-green;
}