.artist-details {
  color: white;
  //   background-size: 100% 40vh;
  header {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10% 25%;
    padding: em(18px);
    display: flex;
    align-items: start;
    justify-content: end;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    h1 {
      font-family: 'gotham-bold';
      font-weight: 900;
      font-size: 6rem;
      margin: 0;
    }
    .verified {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5em;
      div {
        grid-column: 1;
        width: 2em;
        height: 2em;
      }
      h4 {
        grid-column: 2;
        grid-row: 1;
        color: #f0f0f0;
      }
      svg {
        grid-area: 1;
        width: em(24px);
        height: em(24px);
        fill: $--text-announcement;
        color: white;
        // background-color: white;
      }
    }
    p {
      line-height: 32px;
      margin-top: em(4px);
      font-family: 'gotham-light';
      font-weight: 600;
      font-size: 1em;
    }
  }
  main {
    padding: 1em;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'gotham-medium';
    }
    // .popular-songs {
    // }
    ul.song-list {
      padding-inline: 0;
      li {
        display: grid;
        grid-template-columns: 2em 4fr 2fr 1fr;
        gap: 1em;
        padding-inline: 0;
        .idx {
          grid-column: 1;
          display: flex;
          justify-content: center;
          // padding: 0.5em;
        }
        div.main-details {
          grid-column: 2;
        }
        .album {
          display: none;
        }
        .like-song-container {
          grid-column: 4;
          justify-content: end;
        }
      }
    }

    section.station-list {
      .search-bar-container {
        display: none;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        overflow: hidden;
        flex-direction: row;
        min-height: 15em;
        max-height: 15.575em;
        max-width: 100%;
        overflow: hidden;
        .station-preview {
          // width: em(192px);
          row-gap: em(8px);
          padding-inline: 0.7em;
          height: em(246px);
          flex-direction: column;
          align-items: start;
          z-index: 0;
          border-radius: 8px;
          position: relative;

          .relative img {
            z-index: 10;
            display: block;
            margin: 0 auto;
            width: em(168px);
            height: em(168px);
            border-radius: 6px;
          }
          & > div:not(.relative) {
            justify-content: start;
            gap: 4px;
            h3 {
              font-size: 1.1rem;
              width: 10em;
              white-space: nowrap;
              height: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .station-details {
              font-size: em(14px);
              color: rgb(179, 179, 179);
              font-weight: 600;
              font-family: 'gotham-light';
            }
          }
        }
      }
    }
  }
}
