.search-page {
    padding-block: 0.5em;
    padding: 3em 1em;

    h1 {
        color: white;
        font-size: 2.3em;
    }

    .main-details {
        color: white;
        display: grid;
        grid-template-columns: 30% 70%;
        gap: em(32px) em(18px);

        h2 {
            margin-bottom: 0.6em;
            font-size: 1.5rem;
        }

        .top-result {
            img {
                width: 5em;
                height: 5em;
                border-radius: $spotify-border-radius;
            }

            .card {
                position: relative;
                gap: em(20px);
                border-radius: 0.7em;
                background-color: #191919;
                padding: 1.3em;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #252525;
                }

                h3 {
                    font-family: 'gotham-bold';
                    font-size: 2rem;
                    max-width: 100%;
                    text-wrap: balance;
                    padding-block-end: 4px;
                    margin: 0;
                }

                .song-label {
                    font-family: 'gotham-book';
                    margin-inline-end: 4px;
                    color: $--text-subdued;
                    font-size: 0.875rem;
                }

                p {
                    font-family: 'gotham-light';
                    font-weight: 200;
                    font-size: 1rem;
                    margin-bottom: 1em;
                }
            }
        }

        .playlist-results {
            margin-top: 8%;

            .playlist-container {
                display: flex;
                gap: 1.2em;
                /* Reduced gap using em unit */
                overflow-x: auto;
            }

            .playlist-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                /* Align items to the left */
                width: 10em;
                cursor: pointer;
                text-align: left;
                color: #fff;

                img {
                    width: 100%;
                    height: 10em;
                    border-radius: 0.5em;
                    object-fit: cover;
                    margin-bottom: 0.5em;
                }

                .playlist-info {
                    h3 {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 0.2em;
                        /* Reduced gap between playlist name and creator name */
                    }

                    p {
                        font-size: 0.875rem;
                        color: #b3b3b3;
                        margin-top: 0;
                        /* Ensure no additional margin on top of the creator name */
                    }
                }
            }
        }
    }
}