.search-page {
    padding-block: 0.5em;
    padding-inline: 1em;
    
    h1 {
        color: white;
        font-size: 2.3em;
    }
    .main-details {
        color: white;
        display: grid;
        // height: 5em;
        grid-template-columns: 26% 60%;
        gap: 1em;
        h2 {
            margin-bottom: 0.6em;
        }
        .top-result {
            img {
                width: 5em;
                height: 5em;
                border-radius: $spotify-border-radius;
            }
            .card {
                height: 15em;
                gap: 0.3em;
                border-radius: 0.7em;
                background-color: #191919;
                padding: 1.3em;
                transition: 0.1s background;
                h3 {
                    font-size: 1.5em;
                }
                &:hover {
                    background-color: #252525;

                }
            }
        }
    }
}