.station-details {
  // padding: $station-details-margin;
  color: white;
  position: relative;
  height: 100%;
  & > .relative {
    height: 100%;
    width: 100%;
  }

  .station-details-main {
    background-color: rgba(0, 0, 0, 0.192);
  }

  .container-details {
    background-color: black;
    opacity: 0.3;
  }

  & > * {
    z-index: 20;
  }

  .gradient {
    height: 55%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  img.station-img {
    width: 12em;
    height: 12em;

    border-radius: $spotify-border-radius;
  }

  .station-details-header {
    padding-block: $station-details-margin;
    padding-inline: em(20.32px);
    min-height: em(278px);
    max-height: em(378px);
    gap: 1em;
    h1 {
      font-size: clamp(2.5rem, 4rem, 5rem);
      max-height: calc(max-content - 1em);
      white-space: nowrap;
    }
    .img.relative {
      width: em(232px);
      height: em(232px);
      .img-container {
        cursor: pointer;
        img {
          min-width: em(232px);
          min-height: em(232px);
        }
        p {
          margin-top: 1em;
          white-space: nowrap;
        }
      }
    }

    .description {
      font-family: 'gotham-light';
      font-weight: 600;
      margin-bottom: 0.7em;
      font-size: em(14px);
      color: hsla(0, 0%, 100%, 0.7);
      // opacity: 70%;
      max-height: 74px;
      overflow: hidden;
      word-break: break-word;
    }

    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7em;
    }

    h1 {
      font-family: 'gotham-medium';
      display: flex;
      align-items: center;
      font-size: 5em;
      margin: 0;
      height: max-content;
    }

    h4 {
      font-family: 'gotham-light';
      font-weight: 200;
      margin: 0;
    }

    .created-by {
      color: white;
      gap: 0.4em;
      font-size: em(13px);

      .fullname {
        font-family: 'gotham-book';
        font-weight: 700;
      }

      .station-length {
        font-family: 'gotham-light';
        font-weight: 200;
      }

      img {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
      }

      h4 {
        margin: 0;
      }

      .circle-divider {
        font-size: 0.3em;
        height: 0.8em;
      }
    }
  }
}

.station-header-actions {
  padding: $station-details-margin;
  height: em(110px);
  & * {
    cursor: pointer;
  }

  .btns-container {
    width: 100%;
    .check-circle {
      fill: $spotify-green;
      width: em(34px);
      height: em(34px);
    }
    .play-circle {
      height: em(70px);
      width: em(70px);
      fill: $spotify-green;
      &:hover {
        fill: #3be477;
        scale: 1.04;
      }
      // path {
      //   height: em(56px);
      //   width: em(56px);
      // }
    }

    .plus-circle {
      width: em(34px);
      height: em(34px);
    }
    
    .three-dots {
      font-size: 2em;
    }
  }

  .check-circle {
    fill: $spotify-green;
    // font-size: 2.2em;
    height: 2em;
    width: 2em;
  }

  .list-style-change {
    h4 {
      font-size: em(14px);
      color: #ffffff;
      opacity: 70%;
    }

    svg {
      font-size: em(13.333px);
      color: #ffffff;
      opacity: 70%;
    }
  }
}
