.station-details {
  // padding: $station-details-margin;
  color: white;
  position: relative;
  height: 100%;
  & > .relative {
    height: 100%;
    width: 100%;
  }

  .user-watching {
    padding-inline: 1.27em;
    margin-block: 1em;
    gap: 0.6em;
    .user {
      cursor: pointer;
      border-radius: 1.5rem;
      padding-block: 0.5em;
      // padding-inline: 0.2em;
      transition: 0.1s;
      &:hover {
        // scale: 1.03;
        color: lightgray;
        // background-color: hsl(0, 0%, 19%);
      }
      h3 {
        font-weight: 600;
        font-family: 'gotham-light';
        font-size: 0.9rem;
      }
      svg {
        fill: $spotify-green;
      }
    }
  }

  .station-details-main {
    background-color: rgba(0, 0, 0, 0.192);
    height: 100%;
    // overflow-y: hidden;
  }

  .container-details {
    background-color: black;
    opacity: 0.3;
  }

  & > * {
    z-index: 20;
  }

  .gradient {
    height: 55%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  img.station-img {
    display: grid;
    min-width: 5em;
    max-width: 12em;
    min-height: 5em;
    max-height: 12em;

    border-radius: $spotify-border-radius;
  }

  .station-details-header {
    padding-block: $station-details-margin;
    padding-inline: em(20.32px);
    min-height: em(278px);
    max-height: em(378px);
    gap: 1em;
    h1 {
      display: grid;
      font-size: minmax(2.5rem, 5rem);
      white-space: nowrap;
    }
    img {
      width: em(232px);
      height: em(232px);
    }
    .img.relative {
      width: em(232px);
      height: em(232px);
      .img-container {
        cursor: pointer;
        img {
          min-width: em(232px);
          min-height: em(232px);
        }
        p {
          margin-top: 1em;
          white-space: nowrap;
        }
      }
    }

    .description {
      font-family: 'gotham-light';
      font-weight: 600;
      margin-bottom: 0.7em;
      font-size: em(14px);
      color: hsla(0, 0%, 100%, 0.7);
      // opacity: 70%;
      max-height: 74px;
      overflow: hidden;
      word-break: break-word;
    }

    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7em;
    }

    h1 {
      font-family: 'gotham-medium';
      display: flex;
      align-items: center;
      font-size: 5em;
      margin: 0;
      height: max-content;
    }

    h4 {
      font-family: 'gotham-light';
      font-weight: 200;
      margin: 0;
    }

    .created-by {
      color: white;
      gap: 0.4em;
      font-size: em(13px);

      .fullname {
        font-family: 'gotham-book';
        font-weight: 700;
      }

      .station-length {
        font-family: 'gotham-light';
        font-weight: 200;
      }

      img {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
      }

      h4 {
        margin: 0;
      }

      .circle-divider {
        font-size: 0.3em;
        height: 0.8em;
      }
    }
  }
}

.station-header-actions {
  padding: $station-details-margin;
  height: em(110px);
  & * {
    cursor: pointer;
  }

  .party-active {
    font-family: 'gotham-light';
    font-weight: 600;
    font-size: em(14px);
    color: $spotify-green;
    white-space: nowrap;
  }

  .equalizer, .pause {
    color: $spotify-green;
    width: 2em;
  }

  .btns-container {
    width: 100%;
    .check-circle {
      fill: $spotify-green;
      width: em(34px);
      height: em(34px);
    }
    .play-circle {
      height: em(70px);
      width: em(70px);
      fill: $spotify-green;
      &:hover {
        fill: #3be477;
        scale: 1.04;
      }
      // path {
      //   height: em(56px);
      //   width: em(56px);
      // }
    }

    .exit-party {
      color: $spotify-green;
    }

    .play-together, .exit-party {
      background-color: transparent;
      font-family: 'gotham-light';
      font-weight: 600;
      font-size: em(14px);
      border-radius: 9999px;
      padding: 1em;
      border: 1px solid rgb(76, 76, 76);
      transition: 0.1s;
      &:hover {
        // background-color: $spotify-green;
        // color: black;
        color: $spotify-green;
        scale: 1.03;
        // font-family: 'gotham-medium';
      }
    }


    .plus-circle {
      width: em(34px);
      height: em(34px);
    }

    .three-dots {
      font-size: 2em;
    }
  }

  .check-circle {
    fill: $spotify-green;
    // font-size: 2.2em;
    height: 2em;
    width: 2em;
  }

  .list-style-change {
    h4 {
      font-size: em(14px);
      color: #ffffff;
      opacity: 70%;
    }

    svg {
      font-size: em(13.333px);
      color: #ffffff;
      opacity: 70%;
    }
  }
}

@media (max-width: 1024px) {
  .station-details {
    .station-details-header {
      h1 {
        font-size: minmax(3em, 4em);
      }
    }
  }
}

@media (max-width: 480px) {
  .station-details {
    .station-details-header {
      flex-direction: column;
      align-items:center ;
      justify-content: space-between;
      // max-height: 25em;
      min-height: 20em;
      height: 50em;
      // max-height: 40em;
      
      .playlist-label {
        display: none;
      }
      .main-details {
        width: 100%;
        height: 20em;
        h1 {
          font-size: 1.5em;
          margin-bottom: 0.5em;
        }
        .description {
          margin-bottom: 1em;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .created-by {
          margin-bottom: 1em;
          img {
            width: 1.8em;
            height: 1.8em;
            margin-right: 0.5em;
          }
          font-size: 0.6em;
        }
      }
          img {
            // min-width: 8em;
            // max-width: 10em;
            // min-height:8em;
            // max-height:10em;
            width: 11.5em;
            height:11.5em;
            
            
          }
    }
    .station-details-main {
      height: 100%;
      ul.song-list {
        padding-bottom: 5em;
      }
    }
  }
}