.app-footer {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;

  gap: 1em;
  padding-block: 0.5em;
  background-color: black;
  position: fixed;
  bottom: 0em;
  width: 100vw;
  height: $height-footer;
  color: white;
  font-weight: 200;

  .player {
    grid-column: 2;
    padding-block-end: 0.5em;
  }

  div.clickable-area {
    width: 100%;
    padding: 10px 0;
    position: relative;
    cursor: default;
    * {
      cursor: default;
    }

    .progress-container {
      height: 4px;
      background-color: #4d4d4d;
      position: relative;
      border-radius: 2px;
    }

    div.progress-bar {
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;

      .progress-thumb {
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.1s ease;
        cursor: pointer;
        z-index: 2;
      }
    }
    &.video-progress .progress-container {
      width: 20em;
    }

    &.volume-progress .progress-container {
      width: 10em;
    }
  }

  .clickable-area:hover .progress-bar {
    background-color: $spotify-green;
  }

  .details {
    gap: 0.8em;

    img {
      height: 3.5em;
      width: 3.5em;
      object-fit: cover;
      object-position: center;
      border-radius: $spotify-border-radius;
    }

    h3 {
      font-size: 0.95em;
      margin: 0;
    }

    h4 {
      font-size: 0.85em;
      margin: 0;
      color: #9a9a9a;
    }

    h3,
    h4 {
      cursor: pointer;
      font-weight: 200;
    }

    svg {
      cursor: pointer;
    }
  }

  .player {
    // gap: 0.2em;
    font-size: 1.6em;

    .song-actions {
      gap: 0.5em;
      margin-inline: 0.5em;
    }

    * {
      cursor: pointer;
    }
  }

  .other-options {
    cursor: pointer;
    gap: 0.5em;
    font-size: 1.5em;

    progress {
      height: 0.5em;
    }
  }
}
