

.app-footer {
  display: flex;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: space-between;

  // gap: 1em;
  padding-block: 0.5em;
  background-color: black;
  // position: absolute;
  // bottom: 0.5em;
  // bottom: 1em;
  width: calc(100vw - (0.5em * 2));
  color: white;
  font-weight: 200;
  height: $height-footer;
  // padding: 1em 0.5em;
  padding: 0.5em;

  .player {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .youtube-player {
    -webkit-appearance: none;
    appearance: none;
    width: 13em;
    height: 4px;
    background-color: #333;
    border-radius: 2px;

    &.sound {
      width: 8em;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;

      margin-top: -4px;
      /* Center the thumb */
    }

    &::-moz-range-thumb {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      height: 4px;
      cursor: pointer;
    }
  }

  div.clickable-area {
    width: 100%;
    padding: 0.5em 0;
    position: relative;
    cursor: default;
    * {
      cursor: default;
    }

    .progress-container {
      height: 4px;
      background-color: #4d4d4d;
      position: relative;
      border-radius: 2px;
      margin-right: 0.5em;
      margin-left: 0.5em;
      

    }

    div.progress-bar {
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;

      .progress-thumb {
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.1s ease;
        cursor: pointer;
        z-index: 2;
      }
    }
    &.video-progress .progress-container {
      // width: 20em;
      width: calc(30vw);
      // max-width: 30em;
    }

    &.volume-progress .progress-container {
      width: calc(10vw); 
      // max-width: 10em; 
    }
  }

  .clickable-area:hover .progress-bar {
    background-color: $spotify-green;
  }

  .details {
    gap: 0.8em;

    img {
      height: 3.5em;
      width: 3.5em;
      object-fit: cover;
      object-position: center;
      border-radius: $spotify-border-radius;
    }

    h3 {
      font-size: 0.95em;
      margin: 0;
    }

    h4.artist {
      font-size: 0.85em;
      margin: 0;
      color: #9a9a9a;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }

    h3,
    h4 {
      cursor: pointer;
      font-weight: 200;
    }

    svg {
      cursor: pointer;
    }
  }

  .player {
    // gap: 0.2em;
    font-size: 1.6em;

    .song-actions {
      gap: 0.5em;
      margin-inline: 0.5em;
    }

    * {
      cursor: pointer;
    }
  }

  .other-options {
    font-size: 1.2em;
    cursor: pointer;
    button {
      position: relative;
      background-color: transparent;
      padding: em(8px);
      &:has(svg.active)::after {
        content: '•';
        color: #1db954;
        height: 10px;
        bottom: 5px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
      }
      &:hover svg {
        fill: white;
        color: white;
        scale: 1.04;
      }
      svg {
        transition: 33ms;
        color: #b3b3b3;
        fill: #b3b3b3;
        height: 0.9em;
        width: 0.9em;
        &.active {
          fill: $spotify-green;
        }
      }
    }

    progress {
      height: 0.5em;
    }
  }
}

// MOBILE
.player.mobile {
  display: none;
}
.other-options.mobile {
  display: none;
}

.mobile-footer {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform:translateX( -50%);
  width: 92%;
  background-color: rgb(26, 26, 26);
  opacity: 1;
  height: 4em;
  z-index: 50;
  border-radius: 5px;
  color: white;
  padding-inline: 0.5em;

  .song-details {
    gap: 0.5em;
    margin-right: 2em;
    h3 {
      // margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 10em;
      margin-top: 0.4em;
      margin-bottom: 0;
      font-family: 'gotham-book';
      font-weight: 600;
      font-size: 0.95rem;
    }
    h4 {
      font-size: 0.85em;
      font-family: 'gotham-light';
      font-weight: 600;
      color: rgb(185, 185, 185);
    }
    img {
      width: 2.8em;
      height: 2.8em;
      object-fit: cover;
      object-position: center;
    }
  }
  .btns {
    padding-right: 1em;
    .like-song-container {
      width: 2em;
    height: 2em;
    svg {
      width: 1.2em;
      height: 1.2em;
      
    }
  }
  .play-pause-btn {
    position: static;
    transform: translate(0, 0);
    width: 1.2em;
    height: 1.2em;
  }
}
}