.app-header {
  padding: 1.8em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  bottom: calc($spacing-gap / 2);

  > * {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .left .action-nav-btns {
    gap: 0.3em;
    margin-inline-end: 0.5em;
  }

  .left {
    margin-left: 0.5em;
  }

  .middle {
    display: flex;
    align-items: center;
    gap: $spacing-gap;
    max-width: 500px;
    flex-grow: 1;
  }

  .home-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: #2c2c2c;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #3a3a3a;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      color: white;
    }
  }

  .search-bar {
    position: relative;
    flex-grow: 1;
    max-width: 95%;

    input[type='text'] {
      width: 100%;
      background-color: #2c2c2c;
      border: 0;
      border-radius: 50px;
      height: 3.5em;
      color: white;
      font-size: 0.875em;
      padding-left: 3em;

      &::placeholder {
        font-weight: 300;
        color: #b3b3b3;
      }
    }

    svg.magnifying {
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      font-size: 1em;
      color: #b3b3b3;
    }
  }

  .react-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 1.7em;
    height: 1.7em;
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: em(48px);
    height: em(48px);
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform, opacity;
    margin-left: 0.5em;

    &:hover {
      scale: 1.04;
    }

    &:active {
      opacity: 0.5;
      scale: 1;
      // filter: brightness(0.6);
    }

    img {
      min-width: em(34px);
      min-height: em(34px);
      max-width: em(34px);
      max-height: em(34px);
      object-fit: cover;

      cursor: pointer;
      border-radius: 50%;
    }
  }

  .speech-recognition-icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #b3b3b3;
    transition: transform 0.2s ease, box-shadow 0.3s ease;

    div:has(svg) {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      // padding: 0.5em;
      height: 2em;
      width: 2em;
      background-color: #2c2c2c72;
      border-radius: 50%;
      &:hover {
        background-color: rgb(93, 93, 93);
      }
      svg {
        transition: transform 0.2s ease;
        
      }
    }
    &.active div:has(svg), &:hover div:has(svg) {
      background-color: rgb(79, 79, 79);

    }
    &:hover svg,
    &.active svg {
      scale: 1.05;
      fill: #ffffff; /* Glow effect, can adjust color */
    }

    .speech-animation {
      position: absolute;
      right: 45px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &.active .speech-animation span {
      background-color: rgb(224, 224, 224);
    }

    .speech-animation span {
      display: block;
      width: 5px;
      height: 8px;
      border-radius: 10px;
      background-color: rgb(110, 110, 110);
      transition: height 0.2s ease, background-color 0.1s ease; /* Add height transition */
      animation: speech 0.7s infinite ease-in-out;
    }

    .speech-animation span:nth-child(1) {
      animation-delay: 0s;
    }

    .speech-animation span:nth-child(2) {
      animation-delay: 0.1s;
    }

    .speech-animation span:nth-child(3) {
      animation-delay: 0.2s;
    }

    .speech-animation span:nth-child(4) {
      animation-delay: 0.3s;
    }

    @keyframes speech {
      0%,
      100% {
        height: 8px;
      }
      50% {
        height: 20px;
      }
    }

    &.active .speech-animation span {
      animation-play-state: running;
    }

    .speech-animation span {
      animation-play-state: paused;
      height: 10px;
      transition: height 0.2s ease; /* Smooth return to natural height */
    }
  }
}
