aside {
    gap: 0.5em;
    grid-column: 1;
    height: $height-main;
    color: #d1d1d1;
    transition: width 0.3s ease;
    & > div {
        @include component-layout;
        width: 100%;
    }
    .navigation {
        // padding-inline: 0.8em;
        padding: 0.6em 0.8em ;
    }
    .library-menu .nav-link {
        padding-inline: 1em;
        margin-top: 15px;
    }
    .library-menu {
        // padding: 0.4em;
        height: 100%;

    }
    .main-menu {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &.collapsed {
        width: 60px;
        .nav-link {
            justify-content: center;
            .icon {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }

        .sub-menu {
            display: none;
        }
    }

    .add-playlist-modal {
        width: max-content;
        height: max-content;
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.2em 0;
        text-decoration: none;
        color: inherit;
        font-size: 1em;
        transition: color 0.2s ease;
        width: 100%;
        
        span {
            margin-right: 2em;
        }

        .icon {
            margin-right: 0.75em;
            font-size: 1.5em;
        }

        &:hover {
            color: #fff;
        }

        &.active {
            color: #fff;
        }

        &.library {
            justify-content: space-between;
        }
    }
    .ml-auto {
        margin-left: auto;
    }

    .sub-menu {
        display: flex;
        margin-top: 1em;

        .sub-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em 0.7em;
            border-radius: 1.25em;
            background-color: #333;
            color: #d1d1d1;
            font-size: 0.875em;
            text-decoration: none;
            transition: background-color 0.2s ease, color 0.2s ease;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #444;
                color: #fff;
            }

            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }
}
