aside {
    @include component-layout;
    grid-column: 1;
    height: $height-main;
    padding-left: 1em;
    color: #d1d1d1;
    transition: width 0.3s ease;

    &.collapsed {
        width: 60px;
        .nav-link {
            justify-content: center;
            .icon {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }

        .sub-menu {
            display: none;
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.2em 0;
        text-decoration: none;
        color: inherit;
        font-size: 1em;
        transition: color 0.2s ease;
        width: 100%;
        margin-top: 1em;

        .icon {
            margin-right: 0.75em;
            font-size: 1.5em;
        }

        &:hover {
            color: #fff;
        }

        &.active {
            color: #fff;
        }

        &.library {
            justify-content: space-between;
        }
    }
    .ml-auto {
        margin-left: auto;
    }

    .sub-menu {
        display: flex;
        margin-top: 1em;

        .sub-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em 0.7em;
            border-radius: 1.25em;
            background-color: #333;
            color: #d1d1d1;
            font-size: 0.875em;
            text-decoration: none;
            transition: background-color 0.2s ease, color 0.2s ease;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #444;
                color: #fff;
            }

            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }
}
