aside {
    @include component-layout;
    grid-column: 1;
    height: $height-main;
    padding: 16px;
    color: #d1d1d1;

    .nav-link {
        display: flex;
        align-items: center;
        padding: 8px 0;
        text-decoration: none;
        color: inherit;
        font-size: 16px;
        transition: color 0.2s ease;
        width: 100%;
        margin-top: 16px;

        .icon {
            margin-right: 12px;
            font-size: 24px;
        }

        &:hover {
            color: #fff;
        }

        &.active {
            color: #fff;
        }
        &.library {
            justify-content: space-between;
        }
    }
    .ml-auto {
        margin-left: auto;
    }
}
