.modal {
  padding: 0.3em;
  bottom: em(40px);
  right: em(25px);
  border-radius: $spotify-border-radius;
  z-index: 20;
  height: max-content;
  background-color: #282828;
  width: max-content;
  color: rgb(231, 231, 231);

  &.playlist-modal {
    top: 0;
    right: 100%;
    z-index: 100;
    background-color: #282828;
    .searchbar {
      position: relative;
      svg {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 5px;
        font-size: 1em;
      }
    }
    input[type="text"] {
      height: 2em;
      width: 100%;
      border: 0;
      background-color: $modal-row-hover;
      border-radius: $spotify-border-radius;
      margin-bottom: em(4px);
      padding-inline-start: 2em;
      cursor: text;
    }
  }
  .row {
    align-items: center;
    padding: em(12px) em(8px) em(12px) em(12px);
    height: em(40px);
    h3 {
        font-family: 'gotham-book';
        // letter-spacing: 0.5px;
      font-size: em(14px);
      margin: 0;
      color: rgb(225, 225, 225);
      
    }
    svg {
      font-size: em(16px);
      margin-right: 0.5em;
      font-weight: 200;
    }
    &:hover {
      background-color: $modal-row-hover;
      color: white;
    }
  }
}
