.player {

   .music-player-container {
      gap: 0.5em;
      p {
         font-family: 'gotham-light';
         font-size: 1rem;
         color: #fff;
         margin: 0;
      }
      
   }
   .top *:hover {
      
   }
}