.player {
   margin-top: 0.5em;
  .music-player-container {
    gap: 0.5em;
    p {
      font-family: 'gotham-light';
      font-size: 1rem;
      width: 2em;
      color: #fff;
      margin: 0;
    }
  }

  .top {
   gap: 0.4em;
    .song-actions {
      gap: 1.5em;
      svg {
         width: 1em;
         height: 1em;
      }
    }
    svg {
      width: 0.8em;
      height: 0.8em;
      fill: rgb(179, 179, 179);
      color: rgb(179, 179, 179);
      transition: 35ms;
      &.active {
         fill: $spotify-green;
         &:hover {
             fill: $spotify-green;
         }
      }
      &:hover {
        fill: white;
        scale: 1.04;
      }
    }
    .play-pause {
      svg {
        fill: white;
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
  .top svg:hover {
    color: white;
  }
}
