.details-sidebar {
  &.queueDetails {
    .details-header {
      margin-bottom: 2em;
    }
    main {
      gap: 2em;
      .relative.img-svg {
        & > svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1em;
        }
      }
      .playing-now li {
        height: 4em;
        img {
          object-fit: cover;
        }

        .title {
          color: $--text-bright-accent;
        }
      }
      ul.song-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }
      li {
        display: grid;
        align-items: center;
        gap: 8px 12px;
        grid-template-columns: 10fr 1fr;
        width: 100%;
        height: 4em;
        border-radius: 6px;
        padding: 0.5em;
        margin: 0;
        transition: background 0.1s;
        border-radius: $spotify-border-radius;

        &:hover {
          background-color: rgb(34, 34, 34);
          .main-details h4.artist {
            color: #fff;
          }
        }

        .duration {
          grid-column: 2;
          display: block;
          width: max-content;
        }

        .main-details {
          grid-column: 1;
          gap: 8px;
          width: 13em;
          .song-details {
            gap: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 10em;
            .title {
              margin: 0;
            }
            .artist {
              color: $--text-subdued;
              width: 100%;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        h4 {
          font-weight: 200;
          //   font-family: 'gotham-light';
        }
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.1);
        }

        .song-details {
          .title {
            font-size: em(16px);
          }
          .artist {
            font-size: em(14px);
          }
        }
        img {
          border-radius: $spotify-border-radius;
          width: em(48px);
          height: em(48px);
        }
        .duration h4 {
          display: none;
        }
        .like-song-container {
          display: none;
        }
      }
    }
    h2 {
      padding-block: 0.5em;
      font-size: 1em;
      font-family: 'gotham-book';
      color: $--text-base;
      font-family: 600;
      margin: 0;
    }
  }
}
