ul.song-list {
  display: grid;
  gap: 0.5em;
  padding-inline: 1em;

  .like-song-container svg {
    font-size: 1.2em;
  }

  &.list-table {
    grid-template-columns: 2fr 17fr 10fr 7fr 3fr 7fr;

    div:has(svg.like-song-btn) {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .list-header,
    li {
      display: contents;
    }
  }

  &.search-results {
    padding-inline: 0;
    grid-template-rows: repeat(auto-fill, max-content);    // grid-template-columns: 7fr 1fr;
    grid-template-columns: 14fr 1fr 1fr 1fr;

    .like-song-container {
      grid-column: 2;

    }
    li {
      display: contents;
      &:hover img {
        opacity: 0.4;
      }
      .main-details {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-column: 1;
        .play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
      .duration {
        grid-column: 3;
      }
      svg {
        grid-column: 4;
      }
      img {
        width: 2.3em;
        height: 2.3em;
      }
    }
  }

  li {
    &.active {
      h4.title {
        color: $spotify-green;
      }
    }
    & > div {
      gap: 1em;
    }
    img {
      width: 1.7em;
      height: 1.7em;
      border-radius: $spotify-border-radius;
    }
    h4 {
      margin: 0;
      display: flex;
      font-size: 0.9em;
      align-items: center;
    }
    .idx {
      font-size: 1em;
      grid-column: 1;
    }
    .title {
      color: white;
    }

    div.duration {
      grid-column: 6;
      width: 5em;
      svg.dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 1em;
        color: white;
        z-index: 10;
      }
    }
  }
  .list-header h4 {
    display: flex;
    justify-content: start;
    font-size: 14px;
    font-weight: 200;
    color: #bfbfbf;
    margin: 0;
  }

  .custom-divider {
    border: none;
    height: 1px;
    background-color: #4a4a4a;
    margin: 0;
    width: 100%;
    grid-column: 1 / -1;
  }
}

.list-header,
.song-list li .main-details {
  grid-column: 2;
}

// .list-header,
// .song-list li {
//   display: contents;
// }

.list-header,
.song-list li *:not(.dots) {
  font-weight: 200;
  color: #aaaaab;
  font-size: em(16px);
  cursor: pointer;
}

@media (max-width: 768px) {
  .song-list {
    grid-template-columns: 30px 1fr 1fr;
  }
  .header-item:nth-child(4),
  .header-item:nth-child(5),
  .song-item:nth-child(4),
  .song-item:nth-child(5) {
    display: none;
  }
}
