ul.song-list {
  display: grid;
  // gap: 0.5em;
  padding-inline: 1em;

  .like-song-container svg {
    font-size: 1.2em;
  }

  // TABLE LIST

  &.list-table {
    margin-inline: $station-details-margin;
    margin-block: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    // grid-template-columns: 2em minmax(10em, 30em) minmax(5em, 20em) minmax(5em, 10em) 3em 2em;

    li {
      .like-song-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 2em;
      }
    }

    .list-header,
    li {
      gap: 1em;
      display: grid;
      grid-template-columns:
        2em minmax(10em, 50em) minmax(5em, 40em) minmax(5em, 20em)
        minmax(2em, 4em) minmax(2em, 5em);
      padding: 0 0.5em;
    }
    .idx {
      display: flex;
      justify-content: center;
    }

    .list-header {
      align-items: center;
      height: em(36px);
      margin-block: 0 0.7em;
      border-bottom: 0.5px solid rgb(75, 75, 75);
      h4 {
        font-size: 0.9rem;
        font-family: 'gotham-book';
        display: flex;
        justify-content: start;
        // font-size: 14px;
        // font-weight: 600;
        color: #bfbfbf;
        margin: 0;
        &.idx-title {
          justify-content: center;
        }
      }
      .clock-container {
        width: 100%;
        .clock {
          width: 2em;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  // SEARCH RESULTS

  &.search-results {
    padding: 0 10px;
    margin-inline-end: 1em;
    grid-template-rows: repeat(
      auto-fill,
      max-content
    ); // grid-template-columns: 7fr 1fr;
    // grid-template-columns: 14fr 1fr 1fr 1fr;

    .like-song-container {
      grid-column: 2;
      justify-self: start;
      svg {
        font-size: 1.5em;
        font-weight: 900;
      }
    }
    li {
      display: grid;
      grid-template-columns: minmax(120px, 1fr) 4em 2em 4em;
      padding: 0 10px;
      // 2em minmax(10em, 50em) minmax(5em, 40em) minmax(5em, 20em)
      // minmax(3em, 7em) minmax(2em, 5em);

      &:hover img {
        opacity: 0.4;
      }
      .main-details {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-column: 1;
        .play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
      div.duration {
        grid-column: 3;
        svg.dots {
          grid-column: 4;
        }
      }
      img {
        width: 2.3em;
        height: 2.3em;
      }
    }
  }

  // REGULAR

  li {
    height: em(56px);
    padding-block: 0.5em;
    border-radius: $spotify-border-radius;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
    &.active {
      h4.title {
        color: $spotify-green;
      }
    }
    & > div {
      gap: 1em;
    }
    img {
      min-height: em(40px);
      min-width: em(40px);
      width: em(40px);
      height: em(40px);
      border-radius: $spotify-border-radius;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
    }
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      margin: 0;
      display: flex;
      font-size: 0.9em;
      align-items: center;
    }
    .idx {
      font-size: 1em;
      grid-column: 1;
    }
    .title {
      color: white;
      width: 13em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div.duration {
      grid-column: 6;
      width: 5em;
      svg.dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        // font-size: 1em;
        // color: white;
        z-index: 10;
        font-weight: 900;
        font-size: 2em;
        color: white;
        fill: white;
      }
    }
  }

  .list-header {
  }

  .custom-divider {
    border: none;
    height: 1px;
    background-color: #4a4a4a;
    margin: 0;
    width: 100%;
    grid-column: 1 / -1;
  }
}

.list-header,
.song-list li *:not(.dots) {
  font-weight: 200;
  color: #aaaaab;
  font-size: em(16px);
  cursor: pointer;
}

@media (max-width: 768px) {
  .song-list {
    grid-template-columns: 30px 1fr 1fr;
  }
  .header-item:nth-child(4),
  .header-item:nth-child(5),
  .song-item:nth-child(4),
  .song-item:nth-child(5) {
    display: none;
  }
}
