 .station-list li.station-preview:hover {
    svg {
        display: block;
    }
    img {
        opacity: 0.6;
    }
}

.content-wrapper:has(aside.menu-sidebar.collapsed) .station-list li.station-preview {
    img {
        opacity: 1;
    }
}

li.station-preview {
    gap: 0.7em;
    cursor: pointer;
    border-radius: 4px;
    padding-inline: 0.5em;
    padding-block: 0.6em;
    &.dragging {
        border-bottom: 2px solid $spotify-green;
    }
    &:hover {
        background-color: rgb(33, 33, 33);
    }

    .pin {
        margin-inline-end: em(6px);
        fill: $spotify-green;
        width: em(16px);
        height: em(16px);
    }

    .relative svg {
        color: white;
        display: none;
        width: em(24px);
        height: em(24px);
    }

    img {
        width: em(48px);
        height: em(48px);
        
        border-radius: $spotify-border-radius;
    }

    h3 {
        font-family: 'gotham-light';
        font-weight: 600;
        margin: 0;
        font-size: 0.95em;
        height: 1.4em;
        color: white;
        &.active {
            color: $spotify-green;
        }
    }

    .station-details {
        color: $station-prev-p;
        padding: 0;
        margin: 0;
        gap: 0.3em;
        font-size: 0.85em;
        font-family: 'gotham-light';
        font-weight: 700;
        svg {
            font-size: 1em;
            color: $spotify-green;
        }
        .divider {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6em;
        }
    }
}
