.station-list {
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: $station-list-bar-height;
        overflow-y: auto;
    }

    .search-bar-container {
        margin-left: 4%;
    }

    .search-bar {
        position: relative;
        margin-bottom: 1em;
        width: 2.5em;
        height: 2.5em;
        overflow: hidden;
        transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease; // Transition for smooth expansion
        cursor: pointer;
        border-radius: 50%;

        &.expanded {
            width: 70%;
            border-radius: 8px;
            background-color: #242424;

            input[type='text'] {
                opacity: 1;
            }
        }

        input[type='text'] {
            background-color: transparent;
            border: 0;
            border-radius: 8px;
            height: 100%;
            padding: 0 0 0 2.5em;
            color: rgb(200, 200, 200);
            font-size: 0.875em;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s ease;
            outline: none;
            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                font-weight: 400;
                color: rgb(150, 150, 150);
            }
        }

        svg {
            color: rgb(200, 200, 200);
            position: absolute;
            top: 50%;
            left: 4%;
            transform: translateY(-50%);
            font-weight: 100;
            font-size: 1em;
            transition: left 0.4s ease;
        }
    }
}
