body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $bg-main;
}
main {
    height: calc(100% );
    border-radius: $spotify-border-radius;
}
.app {
    display: grid;
    grid-template-rows: $height-header 1fr $height-footer ;
    grid-template-columns: 1fr;
    width: calc(100vw - 1em);
    margin: 0;
    padding: 0;
    &.mobile {
        height: 100vh;
        grid-template-rows: 1fr ;
        .app-footer {
            grid-row: 2;
        }
        .content-wrapper {
            grid-row: 1;
            height: 100%;
        }
    }
}
.app-header {
    grid-row: 1;
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: $bg-main;
}

.main-content {
    overflow: hidden;
}
.content-wrapper {
    grid-row: 2;
    display: grid;
    gap: 0.5em;
    padding: 0;
    height: calc(100vh - $height-header - $height-footer); // Adjusted to use renamed variables
    overflow: hidden;
    background-color: $bg-main;
    
    &:has(aside.menu-sidebar.collapsed) .menu-sidebar .station-list ul {
        height: calc($station-list-bar-height + 9em);
    }
    &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.open) {
        grid-template-columns: 400px 1fr minmax(300px, 20%);
    }
    &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.open) {
        grid-template-columns: 4.5em 1fr minmax(300px, 20%);
    }
    &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.closed) {
        grid-template-columns: 400px 1fr 0;
    }
    &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.closed) {
        grid-template-columns: 4.5em 1fr 0;
    }
    // @media (max-width: 768px) {
    //     &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.open) {
    //         grid-template-columns: 0.4fr 1fr minmax(250px, 15%);
    //     }
    //     &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.open) {
    //         grid-template-columns: 72px 1fr minmax(250px, 15%);
    //     }
    //     &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.closed) {
    //         grid-template-columns: 0.4fr 1fr;
    //     }
    //     &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.closed) {
    //         grid-template-columns: 72px 1fr;
    //     }
    // }
}

.main-content {
    @include component-layout;
    background-color: $bg-secondary;
    overflow-y: auto;
    height: calc(100%);
}
aside.menu-sidebar {
    height: 100%;
    grid-column: 1;
    transition: all 0.3s ease;
    // &.collapsed {
    //     // width: 72px;
    //     .nav-link {
    //         // justify-content: center;
    //         .icon {
    //             // margin-right: 0;
    //         }
    //         span {
    //             // display: none;
    //         }
    //     }
    //     .library-menu img {
    //         // margin-left: 0.3em;
    //     }
    //     .sub-menu {
    //         // display: none;
    //     }
    // }
}

.details-sidebar {
    @include component-layout;
    padding: 1em;
    flex-direction: column;
    display: flex;
    gap: 1em;
    overflow-y: auto;
    grid-column: 3;
    height: 100%;
    transition: width 0.3s ease;
    &.closed {
        width: 0;
        padding: 0;
        visibility: hidden;
    }
}
.app-footer {
    grid-row: 3;
    width: 100%;
    // position: relative;
    // z-index: 100;
    background-color: $bg-secondary;
}

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #bbbbbb;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }