body {
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr;

    background-color: $bg-main;

    gap: 0.5em;

    margin: 0;
    padding: 0.5em;

    // Both sidebars open
    &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.open) {
        grid-template-columns: minmax(300px, 15%) 1fr minmax(300px, 15%);
    }

    // Menu sidebar collapsed, details sidebar open
    &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.open) {
        grid-template-columns: 60px 1fr minmax(300px, 15%);
    }

    // Details sidebar closed, menu sidebar open
    &:has(aside.menu-sidebar:not(.collapsed)):has(aside.details-sidebar.closed) {
        grid-template-columns: minmax(300px, 15%) 1fr;
    }

    // Both sidebars collapsed
    &:has(aside.menu-sidebar.collapsed):has(aside.details-sidebar.closed) {
        grid-template-columns: 60px 1fr;
    }

    // Menu sidebar collapsed and no details sidebar at all (legacy/mobile)
    // &:has(aside.menu-sidebar.collapsed):not(:has(aside.details-sidebar)) {
    //     grid-template-columns: 60px 1fr;
    // }
}

main {
    @include component-layout;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-column: 2;
    height: $height-main;
    overflow-y: auto;
}

.main-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
}

.stationd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
