body {
    margin: 0;
    padding: 0;
    
}

.app {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20% 1fr;

    background-color: $bg-main;

    margin: 0;
    padding: 0.5em;
}

main {
    @include component-layout;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-column: 2;
    height: $height-main;
}

.main-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }
}

.stationd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}