// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$spotify-green: #1CC558;
$station-prev-p: #ABB3B2;
$spotify-border-radius: 4px;
$modal-row-hover: rgb(62, 62, 62);


$bg-main: black;
$bg-secondary: #121212;

// SIZES

$height-footer: 4em;
$height-header: 4em;

$station-details-header: 19.687em;
$height-main: calc(100vh - (0.5em * 3 + $height-footer));
$height-station-details-songlist: calc($height-main - $station-details-header - $height-header - $height-footer);

// MARGINS

$station-details-margin: 2em;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;